Themes Register + logo
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <ion-card class="no-box-shadow no-border-radius ion-no-margin ion-padding-bottom">
            <ion-card-header class="ion-margin-top">
              <!---Logo-->
              <ion-img class="ion-padding-top border-radius" [src]="data.logo"></ion-img>
            </ion-card-header>
            <ion-card-content class="ion-text-center ion-margin-top ion-margin-bottom">
              <h1 class="text-size-xl text-color-light font-regular">{{data.title}}</h1>
              <h2 class="ion-padding-bottom text-size-md text-color-light font-regular">{{data.subtitle}}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-no-padding ion-align-self-center" size="12" size-md="10" push-md="1">
          <div class="input-section">
            <!---Input field username-->
            <ion-item class="ion-no-padding transparent input" input lines="none">
              <ion-label position="stacked">{{data.username}}</ion-label>
              <ion-input required type="text" [value]="item.username" [ngModelOptions]="{standalone: true}">
              </ion-input>
            </ion-item>
            <!---Input field email-->
            <ion-item class="ion-no-padding transparent input" lines="none">
              <ion-label position="stacked">{{data.email}}</ion-label>
              <ion-input required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required
                [value]="item.email">
              </ion-input>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding transparent input" lines="none">
              <ion-label position="stacked">{{data.password}}</ion-label>
              <ion-input required 
                [type]="getPasswordType()" 
                [value]="item.password"
                (ionInput)="onTextChangePasswordFunc($event)"
                ></ion-input>
              <ion-icon class="icon-color-accent icon-font-sm"  [name]="getIconByType()"
              (click)="changeVisibility()"></ion-icon>
            </ion-item>
          </div>
        </ion-col>
        <ion-col class="ion-padding ion-text-center" size="12" size-md="10" push-md="1">

          <!---Login ion-button-->
          <ion-button class="ion-margin-top box-shadow default-button color-primary ion-text-capitalize" expand="block"
            (click)="onSignUpFunc()">
            {{data.signup}}</ion-button>

          <p class="text-color-secondary text-size-md font-medium ion-padding-top ion-margin-top" (click)="onLoginFunc()">
            {{data.logintext}} <a class="text-color-primary text-size-md font-medium">{{data.login}}</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>